/* Basic styling */
body {
  background-color: #f9f9f9;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

h1.success-title {
  color: #004b6a;
}

h1.error-title {
  color: #dc3545;
}

h6 {
  color: white;
  background-color: #198754;
  margin:0;
  padding:1rem;
  width:90%;
  box-sizing: border-box;
  text-align:center;
  font-size:1rem;
}

footer {
  font-size:0.8em;
  text-align: justify;
  line-height: 1.5;
  color: white;
  background: #004b6a;
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  margin-top: 3rem;
}

footer.fixed {
  position: absolute;
  bottom: 0;
}

h3 {
  width: 373px;
}

#go_button{
  background-color: #198754; 
  color:white; 
  font-size: 1.1em; 
  border-radius: 5px;
  border:2px solid white;
  cursor:pointer;
  margin-left: 0.5em;
  padding: 0.3em;
}
#go_button:hover {
  outline: 2px solid #004b6a;
}

/* Link styling */

a.retry {
  all:unset;
  cursor: pointer;
  display:flex; 
  flex-direction: column;
  align-items: center;
  margin-top:1rem;
  padding: 0.5rem;
  border: 2px solid #f9f9f9;
}

a.retry:hover {
  border-radius: 5px;
  background-color: #d1e7dd;
  border: 2px solid #198754;
}

#backto_button {
  position:absolute;
  left:75px;
  top:12px;
  color:#004b6a;
  background-color: rgba(207, 244, 252, 1);
  border-radius: 5px;
  text-decoration: none;
  padding: 0.5em;
}
#backto_button:hover {
  outline: 2px solid rgba(0, 75, 106, 1);
  cursor:pointer;
}

i {
  font-size: 2rem;
  color: #198754
}

p.try-again{
  color: #198754;
  font-weight: bold;
}

div.container {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

div.test-type-box {
  background-color: rgba(207, 244, 252, 0.5);
  border: 3px solid #004b6a;
  border-radius: 5px;
  margin-bottom: 23px;
  width: 98%;
  height: 275px;
}

div.containerizedornot-box {
  border: 3px solid #004b6a;
  border-radius: 5px;
  width: 50%;
  height: 222px;
}

.containerizedornot-title {
  font-size: 1.1em;
  color: #004b6a;
  outline: 3px solid #004b6a;
  text-align: center;
  padding: 0.5em;
  margin-top: 0px;
}

div.clear-container {
  display: flex;
  justify-content: center;
  gap: 3px;
  padding: 3px;
}

.execution-mode-title {
  background-color: #004b6a;
  color: white;
  font-size: 1.1rem;
  margin-top: 0px;
  padding: 0.5em;
  margin-bottom: 2px;
  text-align:center;
}

.select-option {
  font-size: 0.9em;
  margin:0.5em;
  padding: 0.5em;
  background-color: white;
  border-radius: 5px;
}
.select-option:hover {
  outline: 2px solid rgba(0, 75, 106, 1);
  background-color: rgba(207, 244, 252, 1);
  cursor:pointer;
}
.currently_selected {
  border: 2px solid rgba(0, 75, 106, 1);
  background-color: rgba(207, 244, 252, 1);
}

select{
  font-size: 1em;
}

/* Results display */
table {
  width: 90%;
  border-collapse: collapse;
  text-align: center;
  background-color: white;
  table-layout: fixed;
  margin-bottom: 2em;
}

.section-title {
  background-color: #004b6a;
  color: white;
  font-size: 1.1rem;
}

.column-labels-row {
  font-weight: bold;
  color: #004b6a;
}

.results-row {
  color: #333;
}

td, th {
  padding: 0.6rem;
  border: 1px solid #ccc;
}

/* Raw results display */
pre {
  background: #eee;
  padding: 1rem;
  border-radius: 5px;
  overflow: auto;
  width:60%;
  box-sizing: border-box;
  position: relative;
}

div.raw-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  border: 3px dashed black;
  height: 90px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.raw-badge p {
  font-size: 1.1rem;
  font-weight: bold;
  text-align:center;
  white-space: normal;
  display: inline-block;
  margin: 0; 
  padding: 0;
}

/* Performance details display */
div.performance{
  background: rgba(207, 244, 252, 0.5);
  color: #004b6a;
  line-height: 1.5;
  padding: 1rem;
  border-radius: 5px;
  border: 3px solid #004b6a;
  width:38%;
  box-sizing: border-box;
  margin: 0.8rem 0;
}

/* Errors display */
div.error{
  background: #dc3545;
  color: white;
  font-size: 1.2rem;
  line-height: 1.5;
  padding: 1.6rem;
  border-radius: 5px;
}

/* Input elements */
input {
  font-size:1.2em;
  font-weight:bold;
  color: rgba(0, 75, 106, 1);
  height:30px;
}

