<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Containers and Wasm - Choose Mode</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    
    <h1>A form for easier mode selection will be inserted in this page.</h1>

    <footer class="fixed">
      Project aiming to conduct performance studies and confrontations regarding containerization and WebAssembly.
       The same C++ program that obtains sample data from a database and performs some statistics computations on it
       has been compiled and deployed in different ways: depending on the mode selected on this page, one of these versions will be run and return the 
       results.
    </footer>
  </body>
</html>